$Titulo: rgba(250, 167, 59, 0.986);
$rosa: rgb(200, 34, 145);
$ciruela: rgb(64,0,0);
$rojosangre: rgb(160,0,0);
$rojocarmin: rgb(255,0,0);
$rojociruela: rgb(112, 31, 31);
$rosaorquidea: rgb(255,96,96);
$texto: rgb(218, 214, 183);